In [4]:
def new_fun1():
    from Notebook.DSNotebook.NotebookExecutor import NotebookExecutor
    nb = NotebookExecutor()
    df = nb.get_data('11561697699506508', '@SYS.USERID', 'True', {}, [])
    return df

In [5]:
new_fun()

     sex  length  diameter  height  weight_whole  weight_shucked  weight_viscera  weight_shell  rings
0      M   0.455     0.365   0.095        0.5140          0.2245          0.1010        0.1500     15
1      M   0.350     0.265   0.090        0.2255          0.0995          0.0485        0.0700      7
2      F   0.530     0.420   0.135        0.6770          0.2565          0.1415        0.2100      9
3      M   0.440     0.365   0.125        0.5160          0.2155          0.1140        0.1550     10
4      I   0.330     0.255   0.080        0.2050          0.0895          0.0395        0.0550      7
...   ..     ...       ...     ...           ...             ...             ...           ...    ...
4172   F   0.565     0.450   0.165        0.8870          0.3700          0.2390        0.2490     11
4173   M   0.590     0.440   0.135        0.9660          0.4390          0.2145        0.2605     10
4174   M   0.600     0.475   0.205        1.1760          0.5255          0.2875        0.3080      9
4175   F   0.625     0.485   0.150        1.0945          0.5310          0.2610        0.2960     10
4176   M   0.710     0.555   0.195        1.9485          0.9455          0.3765        0.4950     12

[4177 rows x 9 columns]